header {
	background-color: #ffffff;

}

ul {
	color: black;
	font-size: 30px;
}

.grande	{

}

nav{
	background: #F0B429;
	width: 100%; 
	margin: 20px 50px;
	padding: 30px;
	

	
}


p h2, h3, h4, h5, h6 {

	font-size: 1em;
}

.p1	{

	
}